<h1>Merchants</h1>

<h3>Top five highest revenue merchants</h3>
<ol id="top_five_merchants">
  <% @merchants.top_five.each do |merchant| %>
    <li><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
      <ul>
        <li>Total Revenue: <%= number_to_currency(merchant.total_revenue/100.0) %></li>
        <li>Top selling date for this merchant was: <%= merchant.best_day.strftime("%A, %B %d, %Y")  %></li>
      </ul>
    </li>
  <% end %>
</ol>

<h3>Enabled Merchants</h3>
<ul id="enabled-merchants">
  <% @merchants.enabled.each do |merchant| %>
    <li id="merchant-<%=merchant.id%>">
      <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}"  %>
        <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, local: true do |f| %>
          <%= f.submit "Disable" %>
          <%= f.hidden_field :disable, value: 'true' %>
        <% end %>
    </li>
  <% end %>
</ul>

<h3>Disabled Merchants</h3>
<ul id="disabled-merchants">
  <% @merchants.disabled.each do |merchant| %>
    <li id="merchant-<%=merchant.id%>">
      <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}"  %>
        <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, local: true do |f| %>
          <%= f.submit "Enable" %>
          <%= f.hidden_field :enable, value: 'true' %>
        <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Merchant", "/admin/merchants/new"  %>
