<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flag = false %>
    <h3>Little Esty Shop</h3>
    <p>GitHub Stats</p>
    <% if flag %>
      <p>Repo name: <%= GithubService.repo_name %></p>
      <p>Total PR Count: <%= GithubService.merged_pr_count %></p>
      <p>Individual contributors:</p>
      <ul>
        <% GithubService.contributors.each do |login, commits| %>
          <li>User: <%= login  %> Commits: <%= commits  %></li>
        <% end %>
      </ul>
    <% end %>
    <hr>
    <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>

    <%= yield %>
  </body>
</html>
